@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");

:root {
  --yellow: yellow;
  --gray: rgb(209, 208, 206);
}

body{
    margin: 0;
    font-family: 'Bonheur Royale', cursive;
    background-image:  url("/minions.jpg");
    background-position:top;
}

h1{
    padding: 2.5rem;
    margin: 0;
    text-align: center;
    font-size: 3rem;
    background-color: var(--yellow);
}

#input,
#renderInput {
  display: block;
  margin: auto;
  padding: 1rem;
  width: 75%;
  height: 15vh;
  font-size: 1.3em;
  background-color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 3px;

}

#renderInput{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

textarea{
    text-align: center;
}

#translate {
  margin: auto;
  display: block;
  padding: 0.5rem 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  border-radius: 3px;
  border-style: solid;
  font-size: 1.2em;
  background-color: black;
  color: white;
}

.output-text {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

